* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #f5f5f5;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #1E1E2E;
  padding: 2rem 1.5rem;
  gap: 2rem;
}
header img {
  max-width: 180px;
  height: auto;
}
header .header-title-container {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  gap: 1.5rem;
}
header .header-title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #EAEAEA;
}
header .header-title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #94A3b8;
}
header .header-title-container .header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #4f46e5;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  width: 90%;
  max-width: 250px;
  transition: background-color 0.3s ease;
}
header .header-title-container .header-button :hover {
  background-color: #3d39c2;
}
header .header-title-container .header-button span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header .header-title-container .header-button span svg {
  width: 20px;
  height: 20px;
  fill: #EAEAEA;
}

main {
  width: 100%;
  height: auto;
}
main .main-exchange-container {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 80px;
  text-align: center;
}
main .main-exchange-container .background-img img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #1E1E2E;
}
main .main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #94A3b8;
}
main .main-tables-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .main-tables-container .main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
main .main-tables-container .main-currency-table .currency-table-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4f46e5;
}
main .main-tables-container .main-currency-table .currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}
main .main-tables-container .main-currency-table .currency-table-container table {
  width: 100%;
  border-collapse: collapse;
}
main .main-tables-container .main-currency-table .currency-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #94A3b8;
  background-color: white;
  padding: 10px;
}
main .main-tables-container .main-currency-table .currency-table-container .table__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  font-weight: normal;
  color: #94A3b8;
  gap: 10px;
  margin-left: 15px;
}
main .main-tables-container .main-currency-table .currency-table-container img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
main .main-tables-container .main-currency-table .currency-table-container .table__top-left {
  border-radius: 15px 0 0;
}
main .main-tables-container .main-currency-table .currency-table-container .table__top-right {
  border-radius: 0 15px 0;
}
main .main-tables-container .main-currency-table .currency-table-container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
main .main-tables-container .main-currency-table .currency-table-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}
main .main-tables-container .main-currency-table .currency-table-date {
  display: inline-block;
  width: auto;
  max-width: 190px;
  margin: 15px auto 0;
  font-size: 1.4rem;
  padding: 5px 10px;
  background-color: #94A3b8;
  border-radius: 8px;
  text-align: center;
}
main .main-tables-container .main-currency-table .currency-table-date p {
  display: block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #4f46e5;
  margin: 0;
  padding: 0;
}
main .main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #4f46e5;
}
main .main-product-detail .product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
main .main-product-detail .product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}
main .main-product-detail .product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #94A3b8;
}
main .main-product-detail .product-cards--container .product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: #1E1E2E;
  border-radius: 5px;
  box-shadow: 0 40px 8px rgba(0, 0, 0, 0.16);
}
main .main-product-detail .product-cards--container .product-detail--card svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
main .main-product-detail .product-cards--container .product-detail--card .product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}
main .main-product-detail .product-cards--container .product-detail--card .product--card-body {
  font-weight: 500;
  line-height: 1.8rem;
}
main .bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("../assets/images/imagen-comodin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .bitcoin-img-container h2 {
  padding-top: 280px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #EAEAEA;
  text-align: center;
}/*# sourceMappingURL=style.css.map */