//Colores
$primary-color: #1E1E2E; //Fondo principal, estabilidad
$secondary-color: #4f46e5; //Destacado, botones
$accent-one-color: #22c55e; //Indicadores, CTA
$accent-two-color: #ffd700; //Detalles premium, resaltados
$background-light-color: #f5f5f5; //Fondo secciones claras
$background-dark-color: #121826; //Modo oscuro, contrastes
$primary-text: #EAEAEA; //Textos sobre fondo oscuro
$secondary-text: #94A3b8; //Subtítulos, menos prominentes
$error-color: #EF4444; //Errores, alertas criticas

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: $primary-color; //Color de fondo primario
    padding: 2rem 1.5rem; //Evita que el texto toque los bordes
    gap: 2rem; //Ajusta la separación entre elementos sin afectar la alineación
    background-color: $primary-color;

    img{
        max-width: 180px;
        height: auto;
    }

    .header-title-container{
        width: 90%;
        max-width: 600px; //Limita el ancho en mobile
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        gap: 1.5rem; //Asegura que haya espacio entre el título y el texto

        h1{
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $primary-text;
            margin-bottom: 0.5rem;
        }

        p{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            margin-top: 2.5rem;
            color: $secondary-text;
        }
    }
}











