//Colores
$primary-color: #1E1E2E; //Fondo principal, estabilidad
$secondary-color: #4f46e5; //Destacado, botones
$accent-one-color: #22c55e; //Indicadores, CTA
$accent-two-color: #ffd700; //Detalles premium, resaltados
$background-light-color: #f5f5f5; //Fondo secciones claras
$background-dark-color: #121826; //Modo oscuro, contrastes
$primary-text: #EAEAEA; //Textos sobre fondo oscuro
$secondary-text: #94A3b8; //Subtítulos, menos prominentes
$error-color: #EF4444; //Errores, alertas criticas

//Reset general

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

body{
    color: $background-light-color;
}


//HEADER

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: $primary-color; //Color de fondo primario
    padding: 2rem 1.5rem; //Evita que el texto toque los bordes
    gap: 2rem; //Ajusta la separación entre elementos sin afectar la alineación
    
    img{
        max-width: 180px;
        height: auto;
    }

    .header-title-container{
        width: 90%;
        max-width: 600px; //Limita el ancho en mobile
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
        gap: 1.5rem; //Asegura que haya espacio entre el título y el texto

        h1{
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $primary-text;
        }

        p{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $secondary-text;
        }

        .header-button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 2rem;
            background-color: $secondary-color ;
            //Sombra
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            border: none;
            border-radius: 5px; 
            font-size: 1.4rem;
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 90%;
            max-width: 250px;
            transition: background-color 0.3s ease;

            :hover{
                background-color: #3d39c2;
            }

            span{
                 display: flex;
                 align-items: center;
                 margin-left: 10px;

                 svg{
                    width: 20px;
                    height: 20px;
                    fill: $primary-text;
                 }
             }
        }
    }
}


//MAIN





main{
    width: 100%;
    height: auto;
    
    //SECCIÓN PRINCIPAL 

    .main-exchange-container{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        padding-top: 80px;
        text-align: center;

        // .main-exchange-container-title{
        //     width: 90%;
        //     min-width: 288px;
        //     max-width: 900px;
        //     margin: 0 auto;
        // }

        .background-img{
            img{
                width: 200px;
                height: 200px;
                margin-bottom: 50px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            

            
        }
        
        h2{
            margin-bottom: 30px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $primary-color;
        }

        p{
            margin-bottom: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: $secondary-text;
        }
    }


    //TABLA DE CRIPTOMONEDAS
    .main-tables-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .main-currency-table{
            width: 70%;
            min-width: 235px;
            max-width: 500px;
            margin: 0 auto;
            font-family: 'Open Sans', sans-serif;

            .currency-table-title{
                margin-bottom: 15px;
                font-size: 1.8rem;
                font-weight: bold;
                color: $secondary-color;

            }

            .currency-table-container{
                width: 90%;
                min-width: 230px;
                max-width: 300px;
                height: auto;
                margin: 0 auto;

                table{
                    width: 100%;
                    border-collapse: collapse;
                }

                td{
                    width: 50%;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.9rem;
                    color: $secondary-text;
                    background-color: white;
                    padding: 10px;
                }

                //ALINEACIÓN DE LAS CELDAS DE PRECIOS


                .table__right{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 1.4rem;
                    font-weight: normal;
                    color: $secondary-text;
                    gap: 10px;
                    margin-left: 15px; 
                }

                img{
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                }

                .table__top-left{
                     border-radius: 15px 0 0 ;
                }

                .table__top-right{
                     border-radius: 0 15px 0;
                }

                .table__bottom-right{
                     border-radius: 0 0 15px 0;
                }

                .table__bottom-left{
                     border-radius: 0 0 0 15px;
                }

            }

            .currency-table-date{
                display: inline-block;
                width: auto;
                max-width: 190px;
                margin: 15px auto 0;
                font-size: 1.4rem;
                padding: 5px 10px;
                background-color: $secondary-text ;
                border-radius: 8px;
                text-align: center;
                p{
                    display: block;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    color: $secondary-color;
                    margin: 0;
                    padding: 0;
                }
              
            }
        }
    }
}









