//Colores
$primary-color: #1E1E2E; //Fondo principal, estabilidad
$secondary-color: #4f46e5; //Destacado, botones
$accent-one-color: #22c55e; //Indicadores, CTA
$accent-two-color: #ffd700; //Detalles premium, resaltados
$background-light-color: #f5f5f5; //Fondo secciones claras
$background-dark-color: #121826; //Modo oscuro, contrastes
$primary-text: #EAEAEA; //Textos sobre fondo oscuro
$secondary-text: #94A3b8; //Subtítulos, menos prominentes
$error-color: #EF4444; //Errores, alertas criticas

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Montserrat", serif;
}











